@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap');

/* FONTE ENTRE 400 A 700 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Afacad", sans-serif;
}

:root {
    --text-color: #fff;
    --text-secondary-color: #444444;
    --almost-transparent-gray: #4444444b;
    --bg-color: #d6d6d6;
    --main-color: #067c41;
    --secondary-color: #10a55b;
}


/* Estilos gerais */
body {
    position: relative;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-secondary-color);
    font-family: "Afacad", sans-serif;
}

/* INICIO MENU SUPERIOR */

header {
    position: relative;
    padding: 1rem;
}

.header-adjusted {
    margin-left: 350px;
    transition: margin-left 0.3s ease;
}

main {
    top: 0;
    bottom: 0;
    padding: 0 1rem 1rem 1rem;
}

.topMenuList {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    list-style-type: none;
    align-items: center;
    gap: 2rem;
    padding-right: 2rem;    
    padding-bottom: 0.5rem;    
    border-bottom: 1px solid var(--almost-transparent-gray);
}

/* INICIO IMAGEM DE LOGIN E SELEÇÃO DE LOGIN */
.userAccessAlignment {
    display: flex;
    padding: 0.1rem;
}

.imgUser {
    margin-right: 7%;
    border-radius: 50px;
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
}
/* FIM IMAGEM DE LOGIN E SELEÇÃO DE LOGIN */


.topMenuList li a i {
    font-size: 1.8rem;
    color: var(--main-color);
}

.topMenuList select {
    background-color: transparent;
    color: var(--text-secondary-color);
    font-size: 1rem;
}



/* PESQUISA */

.alignLeft {
    margin-right: auto;
}

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.search input {
    width: 12rem;
}

.search button{
    display: flex;
    align-items: center;
    background-color: transparent;
}

.search button i {
    font-size: 1.2rem;
    color: var(--text-secondary-color);
}

/* FIM MENU SUPERIOR */

/* --------------------------------------------------------------------------------------- */


/* INÍCIO MENU LATERAL */

.globalSideMenu {
    position: fixed;
    top: 0;
    height: 100vh;
    width: auto;
}

.sideMenuPrimary {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 80px;
    background: var(--secondary-color);
    padding-top: 7rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 10;

}

.sideMenuPrimary ul {
    font-size: 2rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap: 1.2rem;
}

.sideMenuPrimary ul li a {
    color: var(--bg-color);
    transition: color 0.4s ease-in-out;
}

.sideMenuPrimary ul li a:hover,
.sideMenuPrimary ul li a:active {
    color: white;
}

.sideMenuPrimary ul li a i.iconActive {
    color: white;
}

/* ------------------------------------------------------------------------------------------------------ */
/* MENU LATERAL SEGUNDARIO */

.sideMenuSecondary {
    position: fixed;
    top: 0;
    height: 100dvh;
    width: 350px;
    background: var(--main-color);
    box-shadow: 10px 0 0 var(--bg-color);
    padding-top: 3rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 8;
}

.sideMenuSecondary ul {
    list-style-type: none;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}

.sideMenuSecondary ul li {
    background: var(--main-color);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
    font-size: 1.1rem;

}


.sideMenuSecondary ul li.disable{
    padding: 5% 5%  5% 10%;
    color: white;
    background: transparent;
}


.sideMenuSecondary ul li a{
    background: transparent;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 5% 5%  5% 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    color: var(--bg-color);
    transition: weight 0.3s ease-in-out, color 0.3s ease-in-out, background 0.3s ease-in-out;
}

.sideMenuSecondary ul li a.btnSideActive{
    font-weight: 700;
    color: var(--main-color);
    background: var(--bg-color);
}

.sideMenuSecondary ul li a:hover{
    font-weight: 700;
    color: var(--main-color);
    background: var(--bg-color);
}


/* FIM DO MENU LATERAL COMPLETO */
/* ---------------------------------------------------------------------------------------------------------------------------- */


/* INICIO DO CONTEÚDO DA PÁGINA */
.mainPrimary {
    position: relative;
    padding: 0.5rem;
    margin-left: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.sliderDashboard {
    background-color: white;
    height: 17rem;
    width: 35%;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.13);
}

.boxData {
    background-color: transparent;
    width: 65%;
}

.wrapperBoxDash-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.boxItem {
    padding: 1rem;
    width: 100%;
    height: 8rem;
    background: white;
    color: var(--text-secondary-color);
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.13);
}

.mainSecondary {
    position: relative;
    padding: 0.5rem;
    margin-left: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}

.barCartDash {
    background-color: white;
    height: 21rem;
    width: 60%;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.13);
}

.calendarDash {
    background-color: white;
    height: 21rem;
    width: 40%;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.13);
}